
    body{
      background-color:black;
      color: #E80C7A;
      font-family: sans-serif;
    }
    nav a:hover{
        background-color:727272;
    }
    {
        header img{
            border-radius:50%;
        }
    }
    h2{
      color: #1FCCB2;
    }
